.buttonNavDesign {
    color: white;
    font-weight: bold;
    margin-right: 10px; 
    background-color: black;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 10px;

}

.buttonNavDesign:hover {

    transition: 0.3s;
    color: grey;

}