.buttonNavDesign {

    color: white;
    font-weight: bold;

    margin-right: 10px;
    
    background-color: lightgray;
    border-radius: 100px;

    transition: 0.3s;
    cursor: pointer;

}

.buttonNavDesign:hover {

    transition: 0.3s;
    color: grey;

}