.TituloPrincipal {
    height: 60px;
    justify-content: center;
    padding-top: 10px;
}


.ResultadosBusqueda {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "PeliculasColumn .";
}

.PeliculasColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . .";
    grid-area: PeliculasColumn;
    gap: 10px;
}

.DetalleColumn {
   position: sticky;
   
}